thead th {
  /* Общие стили для всех строк таблицы */
  background-color: white;
  width: 120px;
  height: 25px;
  font-size: 16px;
  font-weight: normal;
  position: sticky;
  top: 0; /* Прилипает к верху */
}
thead button {
  width: 120px;
  background-color: #f5a5a5;
  border: none;
  border-radius: 8px;
  color: #f8f6f6;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

thead button:hover {
  background-color: #c9240f;
}
.finishTH {
  width: 200px;
}
