/* делаем thead флекс-контейнером */
thead {
  display: flex;
  width: 100%;
}

/* строку тоже во flex */
thead tr {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

thead th {
  /* Общие стили для всех строк таблицы */
  flex: 1;
  background-color: white;
  min-width: 80px;
  height: 25px;
  font-size: 16px;
  font-weight: normal;
  position: sticky;
  top: 0; /* Прилипает к верху */
}
thead button {
  width: 80%;
  background-color: #f5a5a5;
  border: none;
  border-radius: 8px;
  color: #666262;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

thead button:hover {
  background-color: #c9240f;
}
.finishTH {
  width: 80%;
}
