.table-cargos-container {
  width: 940px;
  height: 100%;
  /* overflow-y: auto; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-cargos {
  table-layout: fixed; /* Важно! */
  width: 100%; /* Растягивается на всю ширину контейнера */
  /* height: 100%; */
  border-collapse: collapse; /* Убирает двойные границы */
  /* border: 1px solid #ccc; */
  overflow: auto;
}

.table-cargos th {
  height: 25px;
}

.table-cargos th,
.table-cargos td {
  /* border: 1px solid #ccc; */
  height: 25px;
}
