.table-cargos-container {
  width: 940px;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-cargos {
  table-layout: fixed; /* Важно! */
  width: 100%; /* Растягивается на всю ширину контейнера */
  border-collapse: collapse; /* Убирает двойные границы */
  /* border: 1px solid #ccc; */
}

.table-cargos th {
  height: 25px;
}

.table-cargos th,
.table-cargos td {
  /* border: 1px solid #ccc; */
  height: 25px;
}
