.table-cargoArea-container {
  /* width: 400px; Фиксированная ширина контейнера */
  /* height: 300px;  */
  margin: '20px';

  position: fixed;
  bottom: 125px;
  /* left: 50%; */
  /* transform: translateX(-50%); */

  /* overflow-y: scroll; Всегда показывать полосу (даже если контент помещается) */
  /* width: calc(1350px + 17px);  */
}
