.container-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.fieldset {
  border: none;
  margin: 0;
  text-align: center;
}

.modal {
  background: white;
  border-radius: 5px;
  min-width: 300px;
  min-height: 200px; /* чтобы был запас высоты */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* равномерное распределение по всей высоте */
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.arrange-button {
  /* width: 70%; */
  background-color: #cbf7cd;
  border: none;
  border-radius: 8px;
  color: #666262;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrange-button:hover {
  background-color: #10e91f;
}

.close-button {
  width: 120px;
  background-color: #f5a5a5;
  border: none;
  border-radius: 8px;
  color: #666262;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #c9240f;
}

/* Styles for checkbox */
.checkbox-line-arrangement,
.checkbox-center-arrangement {
  display: flex;
  align-items: center;
  gap: 8px; /* расстояние между текстом и переключателем */
  font-size: 14px;
  color: #333;
  cursor: pointer;
  user-select: none;
}

/* Скрываем стандартный чекбокс */
.checkbox-line-arrangement input[type='checkbox'],
.checkbox-center-arrangement input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 30px;
  height: 16px;
  background: #ccc;
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.checkbox-line-arrangement input[type='checkbox']::after,
.checkbox-center-arrangement input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.checkbox-line-arrangement input[type='checkbox']:checked,
.checkbox-center-arrangement input[type='checkbox']:checked {
  background: #10e91f;
}

.checkbox-line-arrangement input[type='checkbox']:checked::after,
.checkbox-center-arrangement input[type='checkbox']:checked::after {
  transform: translateX(14px);
}
