html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0; /* обязательно */
  padding: 0;
  overflow: hidden; /* запрещаем прокрутку body */
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* padding: auto; */
}

.row-for-tables-and-scene {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.tables-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 940px;
  padding: 10px;
}
.table-up {
  margin: 20px;
}

.table-down {
  margin: 20px;
}

.scene-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px;
}

/* Delete arrow of increment/decrement in all input fields Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
