.ThreeScene-container {
  position: relative; /* или убрать полностью */
  bottom: auto;
  left: auto;
  transform: none;
  width: 100%; /* или нужная ширина */
  height: 100%; /* например, высота сцены */
  display: flex;
  justify-content: center; /* центрирование по горизонтали */
  align-items: center; /* центрирование по вертикали */
  /* border-radius: 5px;
  border: 1px solid #ccc; */
}
canvas {
  border: 1px solid #ccc;
  border-radius: 5px;
}
