td {
  /* Общие стили для всех строк таблицы */
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  width: 100px;
  text-align: center;
}
input {
  width: 90%;
}

finishTd {
  padding: 0; /* Убираем стандартные отступы ячейки */
}

.finish-input-button-group {
  display: flex;
  justify-content: space-between;

  gap: 8px; /* Расстояние между элементами */
  padding: 4px 8px; /* Внутренние отступы */
}

.finish-input-button-group input {
  flex: 1; /*Занимает всё доступное пространство*/
  min-width: 0; /* Фикс переполнения */
  width: 50%;
}

.finish-input-button-group button {
  white-space: nowrap; /* Текст кнопки не переносится */

  background-color: #46f062;
}
