/* .cargoAreaForm-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.cargoAreaForm-table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.cargoAreaForm-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.cargoAreaForm-table input {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
} */
