td {
  background-color: white;
  width: 100px;
  height: 25px;
  text-align: center;
}
input {
  width: 90%;
}

.finish-input-button-group {
  display: flex;
  justify-content: space-around;
}

.finish-input-button-group input {
  width: 50%;
}

/* button styles */
.finish-input-button-group button {
  width: 35%;
  background-color: #cbf7cd;
  border: none;
  border-radius: 8px;
  /* padding: 10px; */
  color: #858181;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.finish-input-button-group button:hover {
  background-color: #10e91f;
}
